@import "tailwindcss";

@theme {
  --color-primary: #251400;
  --color-primary-container: #3c280d;
  --color-on-primary: #ffffff;
  --color-secondary: #5f5e5e;
  --color-secondary-container: #e4e2e1;
  --color-on-secondary-container: #656464;
  --color-tertiary: #735c00;
  --color-tertiary-container: #cca730;
  --color-on-tertiary: #ffffff;
  --color-tertiary-fixed-dim: #e9c349;
  --color-background: #fcf9f8;
  --color-on-background: #1c1b1b;
  --color-surface: #fcf9f8;
  --color-surface-container: #f0eded;
  --color-surface-container-low: #f6f3f2;
  --color-surface-container-highest: #e5e2e1;
  
  --font-headline: "Manrope", sans-serif;
  --font-body: "Plus Jakarta Sans", sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e5e2e1;
  border-radius: 10px;
}
